body{
    margin-left: 10%;
    margin-right: 10%;
    font-family: ProximaNovaA-Regular;
}
#header{
    margin-left: 12%;
    margin-right: 12%;
    height: 120px;
    
}
.topone{
    display: flex;
    justify-content: right;
    padding: 5px;
}
#one{
    padding: 5px;
    padding-top: 2px;
    font-size: 13px;
    color: gray;
    
}
.searchbar{
    display: flex;
}
.cart{
    display: flex;
    background-color: rgb(226, 225, 225);
    width: 150px;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px;
}
/*


              <div class="carousel-item">
                <img src="Banner/banner4.webp" class="d-block w-100" alt="...">
              </div>








<div style="display: flex; justify-content: space-between;">
<h2 style="justify-content: center; margin-left: 50%;">View all Offers</h2>
<button style="float: right; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" type="button">
Custom button
</button>
</div>
<div class="container flex">
<div class="row text-center mt-4">
  <div class="col-12 d-md-flex justify-content-md-end">
   <div class="head-content">
    <h2 class="display-3"style="font-size: 24px;">View all Offers
      <button type="button" class="btn btn-primary "
      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
Custom button
</button></h2>
   </div>
</div>
</div>