*{
    margin: 0px;

}
a{
    text-decoration: none;
    color: black;
}

#header{
    margin-left: 12%;
    margin-right: 12%;
    height: 120px;
    
}
.topone{
    display: flex;
    justify-content: right;
    padding: 5px;
}
#one{
    padding: 5px;
    padding-top: 2px;
    font-size: 13px;
    color: gray;
    
}
.searchbar{
    display: flex;
}
.cart{
    display: flex;
    background-color: rgb(226, 225, 225);
    width: 150px;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px;
}


button{
    border: none;
    mix-blend-mode: color-burn;
    margin-right: 6px;
    cursor: pointer;

}
.searchbut:hover{
    
    color: rgb(57, 71, 57);

}
#subheader1{
    margin-top: 0px;

}